@use "../../styles/partials/reset";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 40, 59, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal {
  background: $bg-color;
  border-radius: 0.5rem;
  padding: 1rem 0;
  text-align: center;
  height: 22.5vh;
  &__question {
    padding: 1.5rem;
    padding-bottom: 1rem;
    color: $button-text-color;
  }
  &__buttons {
    border: none;
    padding: 0 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.875rem;
  }
  &__btn {
    @include get-started-button;
    cursor: pointer;
    border: none;
    padding: 0.25rem 1.5rem;
  }
  &__btn:hover {
    background-color: $blue-button-color;
    color: $button-text-color;
  }
}
