@use "../../styles/partials/reset";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.profile {
  height: 100vh;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.88rem 1.5rem;
    border-bottom: 0.3px solid rgba(203, 208, 217, 0.2);
    background-color: $bg-color;
  }
  &__heading {
    color: $button-text-color;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.01875rem;
  }
  &__inner {
    padding: 1rem 1.5rem;
  }
  &__avatar {
    border-radius: 0.3125rem;
    border: 1px solid #ced5dc;
    width: 35%;
    height: 6.1875rem;
    margin-bottom: 1rem;
    border-radius: 0.3125rem;
  }
  &__cred {
    display: flex;
    margin-bottom: 0.5rem;
  }
  &__name,
  &__following {
    width: 42.5%;
  }
  &__name,
  &__username,
  &__following--edit {
    color: $button-text-color;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.01875rem;
  }
  &__username,
  &__following--edit {
    color: $secondary-color;
    font-weight: 400;
  }
  &__following {
    &--edit {
      font-size: 0.875rem;
    }
  }
  &__bio,
  &__data {
    color: $button-text-color;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__bio {
    margin-bottom: 0.5rem;
  }
  &__data {
    color: $secondary-color;
  }
  &__tab {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 1.5rem;
    border-bottom: 0.3px solid rgba(203, 208, 217, 0.2);
  }
  &__link {
    text-decoration-line: none;
  }
  &__item {
    padding-bottom: 0.44rem;
    color: $secondary-color;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01875rem;
  }
  &__item--active {
    color: $blue-button-color;
    border-bottom: 0.125rem solid $blue-button-color;
  }
  &__nice-to-have {
    padding: 1.5rem;
  }
  &__toggle-content-off {
    display: none;
  }
  &__toggle-content-on {
    display: block;
    padding-bottom: 3.75rem;
  }
}
