.header {
  // border: 1px solid red;
  padding: 0.88rem 1.5rem;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid grey;
  // padding: 0 1.5rem;
  //   background-color: lightblue;
}
.nav {
  &__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  &__img {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 1.75rem;
    background: lightgray 50% / cover no-repeat;
  }
}
