@use "../../styles/partials/reset";
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  //   border: 1px solid yellow;
  padding: 0.5rem 1.5rem;
  width: 100%;
  bottom: 0;
  position: fixed;
  border-top: 1px solid grey;
  &__img {
    width: auto;
    height: auto;
  }
}
